@font-face {
  font-family: $font-family-icon;
  src: url("../fonts/project.eot?n1cpfm");
  src:
    url("../fonts/project.eot?n1cpfm#iefix") format("embedded-opentype"),
    url("../fonts/project.ttf?n1cpfm") format("truetype"),
    url("../fonts/project.woff?n1cpfm") format("woff"),
    url("../fonts/project.svg?n1cpfm#project") format("svg");
  font-weight: normal;
  font-style: normal;
}
