<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ data.site.title }}</title>
<meta name="description" content="{{ data.title }}" />
<meta name="twitter:card" content="summary_large_image">
<meta property="og:url" content="{{ env.SITE_URL }}" />
<meta property="og:type" content="website">
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="{{ env.SITE_URL }}img/image-share.png" />
